<strong>The International Nuclear Information System</strong> hosts one of the world's largest collections of published information on the peaceful uses of nuclear science and technology. It offers online access to a unique collection of non-conventional literature. INIS is operated by the IAEA in collaboration with over 150 members.
</br>
</br>
<ul>
              <li><a href="http://www-ns.iaea.org/">Nuclear Safety &amp; Security</a></li>
              <li><a href="http://www-naweb.iaea.org">Nuclear Applications</a></li>
              <li><a href="http://www.iaea.org/OurWork/SV/Safeguards/index.html">Safeguards</a></li>
              <li><a href="http://www-tc.iaea.org/tcweb/default.asp">Technical Cooperation</a></li>
</ul>
<p>Read more about <a href="http://www.iaea.org/inis/">INIS</a>.</p>
